<%= search_form_for @q, :url => usstocks_path do |f| %>
  <p><%= f.search_field :juhe_gid_or_name_cont, :placeholder => "股票代号或股票名称，支持模糊查询", :class => "form-control" %></p>
  <p class="text-right">
    <%= submit_tag "送出查询", :class => "btn btn-primary" %>
  </p>
<% end %>

<h2>股市列表</h2>

<table class="table">
  <tr>
    <th>股票代号</th>
    <th>股票名称</th>
    <th>股票类型</th>
    <th>关注选项</th>
  </tr>
  <% @usstocks.each do |usstock| %>
  <tr>
    <td>
      <%= link_to usstock.juhe_gid, usstock_path(usstock) %>
    </td>
    <td><%= usstock.name %></td>
    <td><%= usstock.stock_type %></td>
    <td>
      <% if current_user # 登入才可以关注 %>
        <% if usstock.find_like(current_user) %>
          <%= link_to "取关", unlike_usstock_path(usstock), :method => :post, :class => "btn btn-danger" %>
        <% else %>
          <%= link_to "关注", like_usstock_path(usstock), :method => :post, :class => "btn btn-primary" %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @usstocks %>
